<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.jointhemeeting" >
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title">
        <receiver
            android:name=".SendAlarm"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="com.app.JoinTheMeeting" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".SnoozeAlarm"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpcomingActivity"
            android:label="@string/app_title"
            android:theme="@style/Theme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/app_title"
            android:theme="@style/Theme.ActionBar">
        </activity>
        <activity
            android:name=".RangeActivity"
            android:label="@string/app_title"
            android:theme="@style/Theme.ActionBar">
        </activity>
        <receiver
            android:name=".EventReceiver"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
